.ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  font-family: "Arial", sans-serif;
}

.ul li {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  margin: 12px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 calc(33.333% - 32px); /* Three items per row with space */
  max-width: calc(
    33.333% - 32px
  ); /* Ensures the items don't exceed one-third of the row */
  transition: box-shadow 0.2s;
}

.ul li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.ul h2 {
  font-size: 1.3em;
  margin-bottom: 12px;
  color: #333;
  text-align: center;
}

.ul img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}

.ul p {
  margin: 8px 0;
  color: #555;
  text-align: center;
}

.ul p:last-child {
  font-weight: bold;
  color: #000;
}

.ul .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.toggleButton {
  color: #555;
  font-size: 0.9em;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 3px 3px;
  cursor: pointer;
  transition: background-color color 0.3s;
}

.toggleButton:hover {
  background-color: #005fa3;
  color: white;
}
